body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.chat_dialog {
    width: 70%;
    height: 500px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    float: left;
}

.chat_dialog .priv_msg {
    color: blue;
    font-style: italic;
}

.user_list {
    width: 20%;
    height: 500px !important;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    float: left;
}

.clear {
    clear: both;
}

.client_chat {
    width: 94% !important;
}

.input-group.client {
    width: 91% !important;;
}

.connection_alert {
    margin-top: 15px;
    width: 90% !important;
}

.connection_alert .error_type::after {
    content: ':';
}

.input-group-btn {
    float: left;
}

.input-group-addon.name_bit {
    font-weight: bold;
}

.client_chat.error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
}